<h1>Bem-vindo ao Task List!</h1>
<h3>Sua lista de tarefas:</h3>

<% @tasks.each do |task| %>
  <p><%= task.description %></p>
  <p><%= task.category.name %></p>
  <%= link_to 'Editar', edit_task_path(task) %>
  <%= link_to 'Apagar', task_path(task), method: :delete,
      data: { confirm: 'Quer apagar esta tarefa?' } %>
<% end %>
